@charset "utf-8";
/* CSS Document */

/*Font*/

@font-face {
	font-family: ChampagneLimousines;
	src: url(../font/Champagne%20&%20Limousines.ttf);
}

@font-face {
	font-family: HomemadeApple;
	src: url(../font/HomemadeApple.ttf);
}

@font-face {
	font-family: CoffeeHouse;
	src: url(../font/Coffee%20House.ttf);
}

@font-face {
	font-family: ChangeTomorrowToday;
	src: url(../font/Change%20Tomorrow%20Today.ttf);
}

@font-face {
	font-family: Instruction;
	src: url(../font/Instruction%20Bold.ttf);
}

@font-face {
	font-family: Vertigo;
	src: url(../font/VertigoFLF.ttf)
}

@font-face {
	font-family: Walkway;
	src: url(../font/Walkway.ttf)
}

@font-face {
	font-family: Junegull;
	src: url(../font/junegull.ttf)
}

@font-face {
	font-family: GistUpright;
	src: url(../font/GistUprightExtraboldDemo.otf);
}

/*General & Text Content*/

#header-content, #body-content, #body-desktop, #body-mobile, #topbar-mobile, #topbar-desktop, .form-row, .row-events {
	background: #FFF;
	min-width: 800px !important

}

body {
	background: url(../img/subtlenet2_@2X.png) !important;
}

h1 {
	font-family: HomemadeApple !important;
	font-size: 100%;
	color: #99C;
}

.align {
	text-align: justify;
}

/*Icons: General*/

i {
	position: relative;	
}

.fi-home {
	color: #C3C	!important;
}

.fi-microphone {
	color: #99C	!important;
}

.fi-megaphone {
	color: #6CF	!important;
}

.fi-torso {
	color: #C3C	!important;
}

.fi-info {
	color: #99C	!important;
}

.fi-list {
	color: #6CF	!important;
}

.fi-social-facebook {
	color: #6CF !important;	
}

.fi-social-instagram {
	color: #C9F !important;	
}

.fi-social-tumblr {
	color: #99F !important;	
}

/*Topbar: Desktop*/

#topbar-desktop {
	z-index: 98;
	position: absolute;
	left: 0;
	width: 100%;
	min-width: 700px;
	height: auto;
	margin-top: 2%;	
}

#logo-desktop {
	position: relative;
	z-index: 98;
	border-radius: 5000px;
}

#topbar-desktop-grid{
	width: 80%;
	height: 65px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 75px;
	border-radius: 3000px;
}

.topbar a  {
	float: left;
	font-size: 100% !important;
	width: 14.28% !important;
	padding-top: .5em;
	border-radius: 1000px;
	text-align: center;
	background: #FFF;
}

.topbar a:hover {
	border: thin dashed #99C;
}

.active-li {
	border: thin solid #99C !important;
	border-width: 1.5px;
}


.no-hover {
	position: relative;
	transform: translateY(-30%);
	border: 1px dashed #99C;
}

.no-hover:hover {
	cursor: default;
	border: 1px dashed #99C;
}

.search {
	position: absolute;
	left: 0;
	border-radius: 2000px !important;
	height: 1.5em !important;
	width: 150px !important;	
}

.search-button {
	height: 2em !important;
	width: 50px !important;
	padding: 1em 1em !important;
	border-radius: 2000px !important;
	padding: 0 !important;
	position: absolute;
	left: 125px;;
	
	background-color: #99C;
}

#body-desktop {
	position: absolute;
	min-width: 800px !important
	left: 0;
	top: 170px;
	width: 100%;
	height: auto;
	background: #666 !important;
}

#home-content {
	position: absolute !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	width: 80%;
	min-width: 650px !important;
	background: #FFF !important;
	border-radius: 50px;
	border: dashed #99C !important;
	border-width: 1px !important;
	padding-bottom: 5%;
}

#home-header {
	position: relative;	
}

#topbar-desktop-grid a {
	position: relative;
}

.header-text {
	position: relative;
	width: 100%;
	top: 100px;
	text-align: center;
}	

#hexagrid {
	position: relative;
	height: auto;
	margin-top: 150px;
	background: none;
}

.hex {
	width: 100px;
	height: 100px;
	position: relative;
	left: 0;
	margin-top: 50px !important;
	margin: 2.5px;
	float: left;
}

.hex-lr {
	position: absolute;
	width: 100px;
	height: 200px;
	top: -85px;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(120deg);
	
}

.hex-rl {
	overflow: hidden;
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
}

.hex-content {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 125%;
	transform: rotate(-60deg);
	visibility: visible;
	
	background-image: url(../img/placeholder.png);
}

.hex-content:nth-child(1):after {
	position: absolute;
	content: "";
	opacity: 0.5;
	background-color: #0F9;
	height: 200px;
	width: 100px;
}

.hex-rl div:hover:after {
	opacity: 0 !important;	
}

.row-desktop:nth-child(1) {
	position: relative;	
	width: 315px;
}

.row-desktop:nth-child(2) {
	position: relative;	
	width: 420px;
	transform: translate(0px, -60px);
}
.row-desktop:nth-child(3) {
	position: relative;	
	width: 525px;
	transform: translate(0px, -120px);
}

.row-desktop:nth-child(4) {
	position: relative;	
	width: 420px;
	transform: translate(0px, -180px);
}

.row-desktop:nth-child(5) {
	position: relative;	
	width: 315px;
	transform: translate(0px, -240px);
}

.index-head {
	font-family: GistUpright;
	font-size: 2em;
	color: #99C;	
	
	border-bottom: thin double #9CF;
}

.index-subhead {
	font-family: Walkway;
	font-size: 2em;
	color: #6CF;

}

.login-head {
	position: relative;
	font-family: Walkway;
	font-size: 1.5em;
	color: #101010 ;
}

.login-subhead {
	position: relative;
	font-family: Walkway;
	font-size: 1em;
	color: #101010 ;
}

.login-form {
	position: relative;
	width: 35%;
	margin-top: 120px;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 100px;
}

.login-submit {
	position: relative;
	border-radius: 10px !important;
	background: #43AC6A;	
	margin-top: 5%;
	width: 40%;
	left: 50%;
	transform: translateX(-50%);
}

.news-text {
	position: relative;
	left: 50%;
	transform: translateX(-50%);	
	width: 75% !important;
}

.news-text div {
	border-top: dashed 1px #99C;
	padding: 2% .5% !important;
	float: left;
}

.news-img {
	width: 25%;
	min-width: 25% !important;
}

.news-subhead {
	position: relative;
	font-size: 1em;
	color: #000;
	text-align: justify;
	font-family: ChampagneLimousines;
	clear:both;
}

.news-content {
	width: 75%;
	min-height: 250px;
}

.news-img img {
	position: relative;
	min-height: 50%;
	margin-top: 3%;
	border-radius: 1000px;
	box-shadow: 5px 5px 10px 0px #666;
}

.news-title {
	position: relative;
	color: #666;
	font-family: Instruction;
}

.news-date {
	position: relative;

	color: #808080 !important;
	font-size: .5em;
}

.news-tags {
	position: relative;
	color: #808080 !important;
	font-size: .7em;
	clear: both;
}

.news-tags b {
	font-size: 1em;
}

.login-error {
	border-color: #C60 !important;
}

.add-news-content {
	height: 15em !important;
}

.add-news-img {
	position: relative;
	left: 50%;
	width: 50% !important;
	padding: .5em;
	border: solid 1px #CCC; 
}	

.add-news-tags {
	position: relative;
	left: 50%;
	width: 50% !important;
}

.news-header img {
	border: double 1px #A3CCA3;
	border-radius: 1000px;
	max-width: 75%;
	margin-left: 20%;
}

.news-header {
	position: relative;
	width: 100% !important;
	margin-top: 5% !important;
	border-right: solid 2px #A3CCA3;
	float: left;

	height: 250px;
}

.news-head {
	border: none !important;
}

.news-carousel {
	position: relative;
	width: 80% !important;
	min-width: 650px;
	margin-top: 5% !important;
	float: left;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden !important;
	
}

.news-carousel img {
	position: relative;
	max-width: 650px;
}

.news-top {
	height: 325px;
}

.news-text span {
	position: relative;
	float: left;
	margin-left: 5%;
}

.news-alert, .news-error {
	position: relative;
	left: 5%;
	width: 90%;
	border-radius: 1000px;
	font-family: ChampagneLimousines;
	background: #69BD88 !important;
	font-size: 80% !important;
}

.news-error {
	background: #f04124 !important;
}

.news-alert span, .news-error span {
	padding: 2%;
}

#modNewsMod div, #modNewsHLMod div {
	background: #43AC6A;
	position: relative;
	text-align: center;
	width: 50%;
	margin-top: 2%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 110%;
}

.modNews:hover, #modNewsMod div:hover, #modNewsHLMod div:hover, .modNewsHL:hover, .login-submit:hover {
	background: #2F784A;
}
.modNews span, .arContent span, .arHLContent span, .modNewsHL span {
	color: #FFF;
	font-family: ChampagneLimousines;
	font-size: 80% !important;
}

#removeNewForm {
	float: left;
}

.rmNewsMsg {
	font-family: ChampagneLimousines;
	font-size: 1em;
}

.news-admin {
	position: relative;
	width: 100%;
	min-width: 650px !important;
	z-index: 1;
}

.news-top {
	position: relative;
	margin-top: 5%;
	z-index: 0; 
}

.list-body {
	position: absolute !important;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
}

.banner-error {
	background: #FF4D4D !important;
	background-color: #FF4D4D !important;
}

.events-header img{
	position: relative;
	margin-top: 2%;
	left: 50%;
	transform: translateX(-50%);
	width: 30%;
	border-radius: 1000px;
}

.accordion-navigation {
	margin-top: 2% !important;
}

.events-ln {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 200px;
}

.date {
	font-family: Instruction;
	font-size: 200%;
}

.date-move {
	margin-top: 10%;
}

.title {
	font-family: ChampagneLimousines;
	font-size: 150%;
}

.events-img {
	position: relative;
	opacity: .8;
}

.events-img-bg:hover {
	opacity: .8 !important;
}

.events-img-bg {
	position: absolute;
	transform: translateY(-100%) !important;
	z-index: 98;
	opacity: .4;
}

.title-loc {
	position: relative;
	text-align: center;
	color: #FFF;
	z-index: 99;
	transform: translate(-50%, -50%);
	margin-top: -50%;
	left: 50%;
}

.title-loc:hover {
	color: #000;
}

.location {
	font-family: ChampagneLimousines;
	font-size: 75%;
}

.event {
	position: relative;
	float: left;
	margin-top: 2.5%;
	width: 25%;
}

.add-event-loc {
	width: 50% !important;
	float: left;
}

.add-event-src {
	width: 47% !important;
	margin-left: 3% !important;
	float: left;
}
.add-event-title {
	width: 75% !important;
	float: left;
}

.add-event-date {
	margin-left: 2%;
	width: 23%;
	float: left;
}

.addMonth {
	width:75%;
	float: left;
}

.addDate {
	width: 23%;
	margin-left: 2%;
	float: left; 
}

.add-tmp-uname {
	width: 48% !important;
	float: left !important; 
}

.add-tmp-pwd {
	width: 48% !important;
	margin-left: 2% !important;
	float: left !important; 
}

.add-faq-title {
	position: relative;
}

.accordion .accordion-navigation > a, .accordion dd > a {
	font-family: ChampagneLimousines !important;
	background: #EAF2ED !important;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
	border: dashed 1px #82AE92;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
	font-family: ChampagneLimousines !important;
	border: double #A3CCA3 1px;
	text-align: justify;
}

.imgWarning {
	font-family: ChampagneLimousines !important;
}

.label {
	padding: .5% !important;
}

.account {
	position: relative;
	margin-top: .5%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
}

.alerts i {
	font-size: 80%;
}

.account div {
	float: left;
	margin-top: 5%;
}

.account-img {
	width: 25%;
	border-right: double 3px #CCC;
}

.account-img img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	border-radius: 1000px;
}

.account-inf {
	position: relative;
	width: 75%;
}

.account-dt {
	position: relative;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);

	border-bottom: 1px #CCC double;
}

.name {
	text-align: left;
	font-family: Instruction;
	font-size: 110%;
}

.date-joined {
	text-align: right;
	right: 0;
}

.contact-dt {
	position: relative;
	text-align: left;
	font-family: ChampagneLimousines;
	font-size: 90%;
	margin-top: 0;
}

.modNews2 {
	top: 10%;
}

#userEditForm input {
	position: relative;
	float: left;
}

.add-name {
	width: 65% !important;
}

.add-pword {
	width: 33% !important;
	margin-left: 2% !important;
}

.add-cn {
	width: 32% !important;
}

.add-eadd {
	width: 32% !important;
	margin-left: 2% !important;
}

.add-fb {
	width: 32% !important;
	margin-left: 2% !important;
}

#news {
	margin-top: 5%;
}

.news-admin a {
	position: relative !important;	
	border-radius: 1000px;
	background: #43AC6A;
	width: 50%;
	text-align: center;
}

.news-admin div {
	position: relative;
	float: left;
	margin-top: 1%;
}

.alerts {
	width: 60%
}

.options {
	width: 40%;
}

.modNews span {
	padding: 5% 3% !important;
}

.options-alone {
	position: relative;
	transform: translateX(50%);
}

.options-alone span { 
	padding: 5% 20% !important;
}

.modNews {
	margin: 0% 1%;
}

.options-reg a {
	padding: 0% 4.5%;
}

.options-reg {
	margin-top: .1% !important; 
}

.alerts-nomargin {
	margin-top: .1% !important; 
}

.ll-table {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.hd-table {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.ll-table td, .ll-table th {
	width: 16%;
	text-align: center;
}

.hd-table td, .hd-table th {
	width: 100% !important;
	text-align: center;
}

.ll-table th, .hd-table th {
	font-family: Instruction;
	margin-top: 5%;
}

.ll-table tr, .hd-table tr {
	font-family: ChampagneLimousines;
	font-size: 90%;
}

.ll-table table, .hd-table table {
	border: none;
	margin-top: 5%;
	border-top: dashed 1px #43AC6A;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#listForm input, #listForm select {
	position: relative;
	float: left;
}

.add-figure-nm {
	width: 55% !important;
}

.add-figure-mn{
	width: 43% !important;
	margin-left: 2% !important;
}

.add-figure-sc {
	width: 32%
}

.add-figure-dy {
	width: 32%;
	margin-left: 2%;
}

.add-figure-by {
	width: 32%;
	margin-left: 2%;
}